<%= simple_form_for @speech do |form| %>
  <% if speech.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(speech.errors.count, "error") %> prohibited this speech from being saved:</h2>

      <ul>
        <% speech.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.input :description, as: :text %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.input :time  %>
  </div>

  <div>
    <%= form.label :hour, style: "display: block" %>
    <%= form.input :hour %>
  </div>
  <div><%= form.file_field :upload %></div>
  <p>
  <div>
  <%= form.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
