<p style="color: green"><%= notice %></p>

<%= render @speech %>

<div>
  <%= link_to "Edit this speech", edit_speech_path(@speech), class:"btn btn-secondary"  %>
  <%= link_to "Back to speeches", speeches_path, class:"btn btn-dark"  %>

  <%= button_to "Destroy this speech", @speech, method: :delete, class:"btn btn-danger" %>
</div>
